.burger-menu {
    display: none;
    width: 42px;
    height: 28px;
}

@media (max-width: 1100px) {
    .burger-menu {
        display: block;
        margin-right: 39px;
        margin-top: 8px;
    }
}

@media (max-width: 550px) {
    .burger-menu {
        margin-right: 30px;
        margin-top: 4px;
    }
}