.drop-down-menu {
    font-size: 24px;
    line-height: 35px;
    color: $color-accent;
    border: none;
    outline: none;
    padding-right: 11px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1400px) {
    .drop-down-menu {
        font-size: 18px;
        padding-right: 9px;
        height: 36px;
        margin-top: 7px;
    }
}