@import "./reset.scss";
@import "./fonts.scss";

@import "./variables.scss";

@import "./blocks/header.scss";
@import "./blocks/left-circle.scss";
@import "./blocks/logo.scss";
@import "./blocks/login-button.scss";
@import "./blocks/phone-number.scss";
@import "./blocks/drop-down-menu.scss";
@import "./blocks/navigation.scss";
@import "./blocks/way-menu.scss";
@import "./blocks/main-news.scss";
@import "./blocks/price.scss";
@import "./blocks/right-circle.scss";
@import "./blocks/about-us.scss";
@import "./blocks//training.scss";
@import "./blocks/burger-menu.scss";

body {
    @extend %main-font;
    background: #fafafa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
}