$color-primary: #cf51ce;
$color-accent: #331a2f;
$color-desc: rgba(51, 26, 47, 0.8);

%main-font {
    font-family: 'Lato', Roboto, Calibri, sans-serif;
}

%bold-font {
    font-family: 'Lato bold', 'Lato', Roboto, Calibri, sans-serif;
}

%medium-font {
    font-family: 'Lato medium', 'Lato', Roboto, Calibri, sans-serif;
}

%semibold-font {
    font-family: 'Lato semibold', 'Lato', Roboto, Calibri, sans-serif;
}